@import "./Variables";

//important was added to properties because bootstrap had its own body styling overriding these ones.

body {
  background-color: $creamWhite !important;
  color: black;
  font-family: "Montserrat", sans-serif !important;
  font-size: 21px !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

code {
  font-family: "Montserrat", sans-serif;
}
